/* img{
    border-radius: 20px;
}
.ww{
    width: 402px;
}
.hed{
    width: 402px;
}
.blu{
    width: 402px;
}
body{
    background-color: rgb(137, 163, 155);
}
div{
   text-align: center;padding-top: 236px;
} */
div{
direction: rtl;
}


